/* #########################################
                FORM
########################################  */
form.structured-question-form{
	padding-bottom: 60px;
}
form.structured-question-form div{

}
form.structured-question-form div label{
    vertical-align: top;
    display:inline-block;
	padding-top: 35px;
    text-align:right;
	font-size: 15px;
}
form.structured-question-form div input,
form.structured-question-form div select,
form.structured-question-form div textarea{
    width:100%;
    resize: none;
	font-size: 15px;
}

/* div.question-group{

} */

/* div.question-group.question-options{

}
div.question-group.question-options label{
    display:inline-block;
}
div.question-group.question-options label:after{
    content:"";
}*/

/* .warning{
    color:#FF0000;
}


input:valid{
    
}  */


.navbar, .nav-pills {
    overflow: hidden;
    background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
    width: 100%; 
	margin: 0px;
	padding: 0px;
}

.navbar.persona{
    background-color: #ffffff;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 18px 26px;
    text-decoration: none;
	font-size: 16px;
	vertical-align:middle;
}

.navbar a:not(.nohover):hover{
    background-color: #008CBA;
	color: #f2f2f2;
}


.nav-pills li{
	text-align: center;
	padding: 16px 0px;
	text-decoration: none;
}

.nav-pills a{
	display: block;
	color: #333;
	text-decoration: none;
}

.nav-text {
    vertical-align:middle;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
	padding:12px;
    color: #fff;
    background-color: #0a5872;
	border-radius: 0;
}

.nav-pills>li>a:hover {
    background-color: #008CBA;
	border-radius: 0;
	color: #fff;
	padding:12px;
}

.nav-pills>li>a 
{ 
    margin-top: -15px; 
    margin-bottom: -15px; 
}

.main {
    margin-top: 50px;
}

ul {
	list-style-type: none;
	font-size:20px;
	margin:0px;
	padding:0px;
}


/* body {
    height: 1000px;
}

.header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header-wrap {
    width: 100%;
    position: relative;
	height: 80px;
    background-color: #e0e0e0;
	
} */

/* nav.navbar.shrink {
  min-height: 35px;
}

nav.navbar{
  background-color:#ccc;
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
} */

/* #header_nav {
    width:100%;
    height:200px;
    background-color:#666;
    position:fixed;
    top:0;
    left:0;
} */

 .header {
    width: 100%;
    bottom: 0;
	top:0;
	height: 120px;
	background-color: #ffffff;
}

.header img {
  float: left;
  width: 110px;
  height: 110px;
  background: #555;
  padding: 5px 5px;
}

.header h2 {
  position: relative;
  top: 20px;
  left: 10px;
  margin-top: 0;
}

.header h4 {
  position: relative;
  top: 20px;
  left: 10px;
  margin-top: 0;
}

.nav-container {
  margin-top: 0;
  overflow: auto;
  background-color:#f2f2f2;
}
.f-nav{ 
  z-index: 9999; 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%;
}

